/* основний светлий цвет текста #9DA4BD */
/* вторичный светлий цвет текста rgba(157, 164, 189, 0.6) */
/* цвет текста белый #FFFFFF */
/* основной темный цвет текста #303030 */
/* вторичный темный цвет текста #555555 */
/* цвет формы rgba(157, 164, 189, 0.4) */
/* цвет акцент #FF6C00 */
/* основний цвет фона #FFFFFF */
/* вторичный цвет фона #F7F7F7 */

:root {
  --basic-light-color-text--: #9da4bd;
  --secondary-light-color-text--: rgba(157, 164, 189, 0.6);
  --text-color-white--: #ffffff;
  --basic-dark-color-text--: #303030;
  --secondary-dark-color-text--: #555555;
  --form-color--: rgba(157, 164, 189, 0.4);
  --accent-color--: #ff6c00;
  --background-basic-color--: #ffffff;
  --background-secondary-color--: #f7f7f7;
}
body {
  background-color: var(--background-basic-color--);

  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.link {
  text-decoration: none;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* --------------------------Header----------------------- */

.header {
  padding-top: 32px;
  background-color: black;
}
.header-page {
  outline: 2px solid green;
  display: flex;
  align-items: center;
  
}
.header-logo {
  margin-right: 60px;
}
.header-nav-list {
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child),
.header-contacts-item:not(:last-child) {
  margin-right: 40px;
}
.header-nav-link,
.header-contacts-mail {
  color: var(--text-color-white--);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.header-nav-link {
  display: block;
  padding: 10px 0;

  font-style: normal;
  cursor: pointer;
}
.header-nav-link:hover,
.header-nav-link:focus,
.header-contacts-mail:hover,
.header-contacts-mail:focus {
  color: var(--accent-color--);
}
.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contacts-mail {
  text-transform: uppercase;
}
/* ----------------------------- Hero --------------------- */
.hero {
  padding-bottom: 40px;
  background-color: black; 
}
/* --------------------------- Hero Link------------------------- */

.hero-link-list {
  outline: 2px solid green;
  display: flex;
  align-items: center;
  height: 66px;
  color: var(--basic-dark-color-text--);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
} 
.hero-link-list::before {
  display: inline-block;
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--basic-dark-color-text--);
}
.hero-link-item {
  cursor: pointer;
}
.hero-link-item:not(:last-child) {
  margin-right: 40px;
}
.hero-link-item:hover,
.hero-link-item:focus {
  color: var(--accent-color--);
}

/* ----------------------------Hero Page------------------------- */

.hero-info {
  display: block;
  outline: 2px solid green;
}
.hero-caption {
  display: inline-flex;
  align-items: center;
  color: var(--secondary-dark-color-text--);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.hero-caption::before {
  display: inline-block;
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--secondary-dark-color-text--);
}

.hero-title {
  color: var(--text-color-white--);

  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
.hero-text {
  color: var(--basic-light-color-text--);

  font-size: 18px;
  line-height: 1.67px;
}

/* ------------------------Sections----------------- */

.section {
  padding: 130px 0;
  color: var(--basic-dark-color-text--);
}
.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

/* -------------------------Features------------------- */

.features-info {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.features-info-text {
  color: var(--secondary-dark-color-text--);

  font-size: 18px;
  line-height: 1.67;
}
.features-text {
  color: var(--secondary-dark-color-text--);

  font-size: 14px;
  line-height: 1.86;
}

/* -------------------------Servis and Price-----------  */

.servis-content {
  background-color: black;

  color: var(--basic-light-color-text--);
}
.servis-info {
  color: var(--secondary-light-color-text--);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.servis-title {
  color: var(--text-color-white--);
}

/* --------------------------Value------------------ */

.value-item {
  background-color: var(--background-secondary-color--);
  text-align: center;
}
.value-item b {
  font-weight: 700;
  font-size: 42px;
  line-height: 1, 36;
  letter-spacing: 0.05em;
}
.value-item p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.value-info {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.value-info-text {
  color: var(--secondary-dark-color-text--);

  font-size: 18px;
  line-height: 1.67;
}

/* --------------------------------Team-------------------------- */
.team-content {
  background-color: var(--background-secondary-color--);
}
.team-info {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.team-caption {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
}
.team-text {
  color: var(--accent-color--);

  font-size: 14px;
  line-height: 1.36;
  text-align: center;
}

/* -----------------------------Gallery-------------------------- */

.gallery-info {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.gallery-title {
  visibility: hidden;
}

/* ------------------------------Form--------------------------- */
.form-content {
  background-color: black;
}
.form-title {
  color: var(--text-color-white--);
}
form {
  color: var(--form-color--);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
form label:hover {
  color: var(--text-color-white--);
}

/* ---------------------------Contacts----------------------------- */

.contacts-content {
  background-color: black;
}
.contacts-title {
  color: var(--text-color-white--);
}
.address-list a {
  color: var(--basic-light-color-text--);

  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
}
.address-list a:hover,
.address-list a:focus {
  color: var(--accent-color--);
}
.contacts-caption {
  color: var(--text-color-white--);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.contacts-text {
  color: var(--basic-light-color-text--);

  font-size: 18px;
  line-height: 1.67;
}

/* ----------------------------------Footer--------------------- */

.footer-text {
  color: var(--basic-light-color-text--);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.footer-link-list {
  color: var(--basic-dark-color-text--);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.footer-link-item {
  cursor: pointer;
}
.footer-link-item:hover,
.footer-link-item:focus {
  color: var(--accent-color--);
}

/* -------------------------------Buttons------------------------ */

.button {
  display: inline-block;
  min-width: 160px;
  padding: 12px 20px;
  background-color: transparent;
  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-color--);
  box-sizing: border-box;
  border-radius: 25px;
}
.primary,
.sent {
  color: var(--text-color-white--);
}
.secondary {
  color: var(--basic-dark-color-text--);
}
.button:hover, 
.button:focus {
  text-decoration: underline;
}

